.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  grid-template-rows: auto;
  gap: 20px;
  padding: 0 0 24px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.card {
  width: 100%;
  object-fit: cover;
  list-style-type: none;
}

.card__image {
  width: 413px;
  height: 413px;
  box-sizing: border-box;
  border-radius: 8px;
}

.card__caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  line-height: 1.2;
  padding: 0;
  margin: 0;


}

.card__caption-button {
  padding: 0;
  border: none;
  background-color: #fcf5e5;
}

.card__caption-span {
  font-size: 16px;
  line-height: 1;
  color: #212121;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  max-width: 100%;
  white-space: nowrap; /* Prevents the text from wrapping */
  overflow: hidden; /* Ensures the overflowing text is hidden */
  text-overflow: ellipsis; /* Adds the ellipsis to indicate overflow */
}

@media (min-width: 288px) and (max-width: 413px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
  }

  .card__image {
    width: 288px;
    height: 288px;
  }
}

@media (min-width: 786px) {
  .cards__list {
    margin: 20px 0 36px;
    gap: 40px 20px;
  }

  .cards {
    width: 100%;
  }
}
