.page {
  max-width: 786px;
  min-width: 320px;
  margin: 0 auto;
  background-color: #fcf5e5;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

@media (min-width: 786px) {
  .page {
    max-width: calc(100% - 160px);
  }
}
