.page {
  max-width: 786px;
  min-width: 320px;
  margin: 0 auto;
  background-color: #fcf5e5;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}
/* for mobile apps */
@media (min-width: 288px) and (max-width: 786px) {
  .page {
    max-width: 785px;
  }
}

/* for tablets */
@media (min-width: 786px) and (max-width: 1037px) {
  .page {
    max-width: 1036px;
  }
}

/* for desktops */
@media (min-width: 1037px) {
  .page {
    max-width: 1440px;
  }
}
