.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s linear, opacity 0.5s linear;
  padding: 0 10px;
  object-fit: cover;
  box-sizing: border-box;
  overflow: hidden;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 12px;
  max-width: 730px;
  width: 100%;
  position: relative;
  border-radius: 8px;
  box-sizing: border-box;
  overflow: hidden;
}
.modal__container_type-delete {
  overflow: visible;
}
.modal__close-btn {
  background-color: white;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 15px;
  opacity: 0.4;
  transition: 1s;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__title {
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  word-wrap: nowrap;
  margin: 22px 0;
}

.modal__title_delete {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
}
.modal__form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.modal__form_delete {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  color: rgba(33%, 33%, 33%, 0.7);
}

.modal__input {
  display: block;
  border-radius: 8px;
  border: 1px solid rgba(33%, 33%, 33%, 0.4);
  padding: 16px 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.modal__input::placeholder {
  color: rgba(33%, 33%, 33%, 0.3);
}

.modal__input:hover {
  transition: 1s;
  border: 1px solid rgb(33%, 33%, 33%);
}

.modal__error {
  color: rgba(255, 0, 0, 0.7);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  margin-top: 8px;
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__submit-btn {
  padding: 18px 32px;
  width: 100%;
  border-radius: 8px;
  background-color: #212121;
  cursor: pointer;
  color: rgba(252, 245, 229, 1);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.modal__submit-btn_type-delete {
  background-color: #ff6565;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  border-radius: 8px;
  border: none;
}

.modal__submit-btn_type-cancel {
  background-color: white;
  color: #212121;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  border: 1px solid #212121;
}

.modal__submit-btn_type-cancel:hover {
  color: white;
  background-color: #212121;
}

.modal__submit-btn_type-delete,
.modal__submit-btn_type-cancel {
  border-radius: 8px;
  width: 156px;
  height: 52px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  cursor: pointer;
}

.modal__submit-btn_disabled {
  background-color: rgba(33, 33, 33, 0.5);
}

.modal__image-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal__close-btn_type-preview {
  background: none;
  top: -48px;
  right: 0;
  opacity: 1;
}

.modal__close-btn_type-preview:hover {
  opacity: 0.4;
}

.modal__image {
  max-height: 80vh;
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  display: block;
}

.modal__caption {
  padding: 4px 8px;
  background-color: rgba(33, 33, 33, 1);
  color: rgba(255, 255, 255, 1);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  max-width: fit-content;
  border-radius: 8px;
  text-wrap: nowrap;
}

.modal__close-btn_type-delete {
  top: -52px;
  right: 0px;
  opacity: 0.8;
  background-color: transparent;
}
@media (max-width: 320px) {
  .modal__caption {
    font-size: 16px;
  }
  .modal__image {
    width: 288px;
    border-radius: 4px;
  }
}

@media (min-width: 786px) {
  .modal_type-preview {
    padding: 0 16px;
  }

  .modal__container {
    gap: 32px;
    padding: 32px 50px;
  }

  .modal__close-btn {
    position: absolute;
    top: 32px;
    right: 50px;
  }

  .modal__close-btn_type-delete {
    top: 0px;
    right: -32px;
    opacity: 0.8;
  }
  .modal__close-btn_type-preview {
    top: 0;
    right: -52.5px;
  }

  .modal__title {
    font-size: 32px;
    margin: 4px 0;
  }
  .modal__title_delete {
    font-size: 24px;
    line-height: 100%;
  }

  .modal__input {
    font-size: 20px;
  }
  .modal__form {
    gap: 32px;
  }

  .modal__submit-btn {
    max-width: 156px;
    width: 100%;
  }
  .modal__form_delete {
    flex-direction: row;
    gap: 20px;
  }
}
